.header_sec{
    position: fixed;
    z-index: 0;
    display: grid;
    width: 100%;
    grid-template-columns:1fr 1fr 1fr;
    box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
    color: red;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    background-color: white;
}

.logo{
    text-align: left;
    margin-left: 70px;
}

.Account{
    display: inline-flex;
    justify-content: center;
    border-radius: 50px;
    background-color: white;
    color: black;
    font-weight: 500;
    height: 3rem;
    width: 15rem;
    text-align: center;
    box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
    margin: 20px;
    margin-left: 26%;
    font-size: xx-large;
    cursor: pointer;
}
.Account:active{
    top: 1px;
    box-shadow: 0.5px 1px 2px 0.5px grey;
}

.hostProp{
    margin-top: 20px;
    margin-left: 90%;
    border-radius: 25px;
    font-weight: 500;
    color: black;
    font-size: large;
    padding: 10px;
    box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
    width: 150px;
}

.hostProp:active{
    top: 1px;
    box-shadow: 0.5px 1px 2px 0.5px grey;
}


.acc_img{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 30px;
    margin-right: 10px;
    margin-top: 5px;
}

.dropdownlist{
    margin-top: 100px;
    position: fixed;
    margin-left: 75%;
}

.dropdownform{
    position: fixed;
    margin-top: 100px;
    margin-left: 72%;
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 6px 6px 12px #c5c5c5;
    outline: none;
}

.signInput{
    max-width: 190px;
    padding: 12px;
    border-radius: 30px;
    outline: none;
    border-style:none;
    color: dimgray;
    box-shadow: 6px 6px 12px #c5c5c5;
} 

.signbtn{
    border-radius: 30px;
    padding: 5px;
    width: 5rem;
    margin-left: 10px;
    box-shadow: 3px 3px 6px #EEEDED;
    outline: none;
    border-style: none;
}
.signbtn:active{
    top: 1px;
    box-shadow: 0.5px 1px 2px 0.5px grey;
}

.ul_list{
    background-color: white;
    text-align: center;
    list-style: none;
    margin-top: 20px;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 6px 6px 12px #c5c5c5;
    width: 13rem;
}

.dropdown_item{
    padding: 10px;
    font-size: 10px;
    border-color: #c5c5c5;
    text-decoration: unset;
    border-radius: 25px;
}

.dropdown_item:hover{
    cursor: pointer;
    background-color: #EEEDED;
    transition: 1s;
    text-decoration: underline;
}

.text{
    display: flex;
    margin-left: 50px;
}

.text:hover{
    cursor: pointer;
}
.name{
    margin-right: 130px;
    text-shadow: 6px 6px 12px grey;
}
.slogen{
    margin-top: -10px;
    text-shadow: 6px 6px 12px grey;
}

.logo_img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-top: 8px;
    margin-right: 8px;
    /* box-shadow: 6px 6px 12px #c5c5c5; */
    background-color: white;
    color: #c5c5c5;
    opacity: 90%;
    filter: drop-shadow(6px 6px 12px);
}